
.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:white;
    border-radius: 7px;
   
}
.checkoutProduct_info {
    padding-left: 20px;
}
.checkoutProduct_image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutProduct_rating {
    display: flex;
}
.checkoutProduct_title {
    width: 50%;
    font-size: 17px;
    font-weight: 800;
}
@media only screen and (max-width: 680px) {
    .checkoutProduct {
        text-align: -webkit-center;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: white;
        border-radius: 7px;
        display: block;

    }
    .checkoutProduct_info {
        text-align: center;
    }
      }

