*{
  margin: 0;
}
body {
  background: rgb(124,80,45);
  background: linear-gradient(0deg, rgba(124,80,45,0.7665441176470589) 31%, rgba(9,8,7,0.5228466386554622) 99%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
