.payment{
    background-color:white;
}
.payment_container > h1{
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234, 237, 237);
    border-bottom: 1px solid lightgrey;
}
.payment_container > h1 a {
    text-decoration: none;
}

.payment_section{
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgrey;
}
.payment_title{
    flex: 0.2;
}
.payment_adress, .payment_items, .payment_details{
    flex: 0.8;
}
.payment_details > form{
    max-width: 400x;
}
.payment_details > h4 {
padding-bottom: 20px;
}
.payment_details > form > div > button {
    background: #F0C14B;
    border-radius: 2px;
    width: 20%;
    height: 30px;
    font-weight: bolder;
    border: 1px solid;
    margin-top: 10px;
    border-color: #A88734 #9C7E31 #846A29;
    color: #111;
}
@media only screen and (max-width: 680px) {
    .payment_section {
        display: block;
        padding: 20px;
        margin: 0 20px;
        border-bottom: 1px solid lightgrey;
    }
    .payment_title {
        text-align: -webkit-center;
        flex: 0.2 1;
    }
    .payment_details > form > div > button {
        width: 100%;
    }
      }